<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Answers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    -
    <%= link_to 'Contact Us', contact_new_path %>
    -
    <%= link_to 'All Questions', questions_path %>
    -
    <%= link_to 'New Question', questions_new_path %>
    <%= yield %>
  </body>
</html>
